.envolved {
    background-color: #fff;
    &__column {
        display: flex;
        flex-flow: column;
        padding: 156px 0 130px;
    }
    &__title {
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 57px;
        letter-spacing: 0em;
        text-align: center;
        color: #000;
        margin-bottom: 60px;
    }
    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 107px;
    }
    &__item {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    &__icon {
        padding-bottom: 15px;
    }
    &__name {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        color: #000;
    }
    &__btns {
        margin-top: 60px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        gap: 24px;
    }
    &__black {
        button {
            background-color: #000;
            border: 2px solid #fff;
            border-radius: 5px;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: center;
            height: 50px;
            min-width: 158px;
            width: 100%;
            color: #fff;
            cursor: pointer;
        }
    }
    &__white {
        button {
            background-color: #fff;
            border: 2px solid #000;
            border-radius: 6px;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: center;
            height: 50px;
            min-width: 158px;
            width: 100%;
            color: #000;
            cursor: pointer;
        }
    }
}