<div class="content">
    <div class="container">
        <div class="content__row">
            <h2>Company registration details</h2>
            <p><strong>Theion GmbH</strong></p>
            <p>Fanny-Zobel-Strasse 11</p>
            <p>12435 Berlin</p>
            <p>Germany</p>
            <br>
            <br>
            <p>Phone: <a href="tel:+49 179 - 140 258 6">+49 179 - 140 258 6</a></p>
            <p>E-mail: <a href="mailto:info@theion.de" class="underline">info@theion.de</a></p>
            <p>Web: <a href="www.theion.de">www.theion.de</a></p>
            <br>
            <br>
            <p>Managing directors empowered to represent the company: Marek Slavik</p>
            <p>Court of registry: Amtsgericht Berlin Charlottenburg</p>
            <p>Company registration number: HRB 222769 B</p>
            <br>
            <br>
            <h2 class="up">Disclaimer</h2>
            <p><strong>Throughout the Site ("www.theion.de"), we (the expressions "we", "us" or "our" in the terms of use and privacy policy means, where the context admits, Theion GmbH) want to introduce you to Theion GmbH. However, please bear in mind that by accessing the Site, you are agreeing to abide by the terms of use and the privacy policy:</strong></p>
            <br>
            <br>
            <ol>
                <li> Information on the Site is provided for general information purposes only, and on an "as is" basis. Despite our efforts, it may not be accurate, complete, up to date or applicable to the circumstances of any particular case. Theion GmbH
                    makes no representations and disclaim all warranties, express or implied, including without limitation warranties of suitability and fitness for a particular purpose or non-infringement. Theion GmbH shall not be liable for any direct,
                    indirect, special, punitive or consequential damages or loss whether in statute, contract, negligence or any other tort or otherwise, arising out of or in connection with the use of or inability to use this site or any action or failure
                    to act taken in reliance on the information in it or any linked site. We do not warrant or represent that this web site, its content, downloaded material and any linked site:
                    <ul>
                        <li>- will be uninterrupted or error free;</li>
                        <li>- that any errors will be corrected;</li>
                        <li>- are free of any type of virus or other harmful code or compatible with any specific computer system</li>
                        <li>- or third party software.</li>
                    </ul>
                </li>
                <li>The content of this paragraph and its disclaimers and exclusions shall apply to the maximum extent permissible by applicable laws. If any part is unenforceable under applicable laws the remainder shall still apply. Theion GmbH reserves
                    the right to change or delete any of the content of the Site, including these terms of use, at any time and without notice.</li>
                <li>No information contained in the Site shall constitute an invitation by or on behalf of us to enter into a contract with you. Nor shall the information be construed as a license or an advisory, fiduciary or professional relationship between
                    you and us. No information provided on the Site shall be considered a substitute for your independent investigation.</li>
                <li>If you use the links in this site to access other sites, please be aware that the linked sites are not under our control and we are not responsible for and do not endorse their contents. Other terms and conditions may also apply to the
                    access to and use of third party sites.</li>
                <li>We will treat all communications you submit via the Site and/or by email in accordance with our applicable privacy policy, a summary of which you can read below. Please note that we will not analyse the information you send to determine
                    whether it is confidential or proprietary and we do not wish to receive any such information from you. We will assume that any communication you send is not confidential or restricted in any way. By submitting any communication (in
                    whatever form) to us you grant us an unlimited, irrevocable licence to use, reproduce, execute, display, perform, modify, transmit and distribute all or any part of such communication, including any know-how, ideas, techniques or concepts
                    that may be contained therein. Correspondence entered into by email with us will be subject to automated virus-checking procedures. Please note that such correspondence may be viewed by someone other than the addressee. Information
                    that you send via the Site to our recruitment department may be processed and retained by us for lawful purposes relating to recruitment. By making any submissions via the Site, you consent to our retention, processing and transmission
                    of such submissions. If at any time you wish to request the deletion or modification of any information you have submitted, or you have any other questions, please contact us.</li>
                <li>Your use of the Site and downloads from it, and these terms of use, shall be governed by the laws of Germany. The German courts shall have exclusive jurisdiction over any dispute arising out of your use or non-use of the Site.</li>
            </ol>
            <p>If you have queries, please contact us.</p>
        </div>
    </div>
</div>