<section class="envolved">
    <div class="container">
        <div class="envolved__column">
            <div class="envolved__title">How you can get envolved</div>
            <div class="envolved__list">
                <div class="envolved__item">
                    <div class="envolved__icon"><img src="../img/envolved__icon-1.svg" alt="Become a corporate partner"></div>
                    <div class="envolved__name">Become a corporate partner</div>
                </div>
                <div class="envolved__item">
                    <div class="envolved__icon"><img src="../img/envolved__icon-2.svg" alt="Join the team"></div>
                    <div class="envolved__name">Join the team</div>
                </div>
                <div class="envolved__item">
                    <div class="envolved__icon"><img src="../img/envolved__icon-3.svg" alt="Invest in us"></div>
                    <div class="envolved__name">Invest in us</div>
                </div>
                <div class="envolved__item">
                    <div class="envolved__icon"><img src="../img/envolved__icon-4.svg" alt="Write about us"></div>
                    <div class="envolved__name">Write about us</div>
                </div>
                <div class="envolved__item">
                    <div class="envolved__icon"><img src="../img/envolved__icon-5.svg" alt="Follow us on LinkedIn"></div>
                    <div class="envolved__name">Follow us on LinkedIn</div>
                </div>
            </div>
            <div class="envolved__btns">
                <div class="envolved__black">
                    <a href=""><button>Contact us</button></a>
                </div>
                <div class="envolved__white">
                    <a href=""><button>Follow us</button></a>
                </div>
            </div>
        </div>
    </div>
</section>