<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__logo">
                <a href="/"><img src="../img/logo.png" alt="Theion" srcset="../img/logo@2x.png 2x"></a>
            </div>
            <div class="header__btn">
                <a href="/"><button>Contact us</button></a>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header__screen">
            <div class="header__wrapper">
                <div class="header__title">At Theion we design a novel sustainable battery to power all mobile devices.</div>
                <div class="header__subtitle">Ranging from headphones, telephones and computers to cars, airplanes, rockets and to robots.</div>
            </div>
        </div>
    </div>
</header>