<header class="header header_content">
    <div class="container">
        <div class="header__row">
            <div class="header__logo">
                <a href="/"><img src="../img/logo.png" alt="Theion" srcset="../img/logo@2x.png 2x"></a>
            </div>
            <div class="header__btn">
                <a href="/"><button>Contact us</button></a>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header__screen header__screen_content">
            <div class="header__wrapper header__wrapper_content">
                <div class="header__title">Privacy policy</div>
            </div>
        </div>
    </div>
</header>