<section class="performance">
    <div class="container">
        <div class="performance__row">
            <div class="performance__column">
                <div class="performance__title">The Theion Crystal Battery</div>
                <div class="performance__text">
                    We, at Theion, are bringing mobility of everything to the next level. Our Crystal Battery Cells extend your car reach, your communication, you listening to music, your travelling in a sustainable, safe, performant and price competitive way.
                </div>
                <div class="performance__text">
                    <strong>Theion Crystal Cells –</strong><br> for a wireless, mobile, sustainable world.
                </div>
            </div>
        </div>
    </div>
</section>