<section class="sets">
    <div class="container">
        <div class="sets__row">
            <div class="sets__title">The Theion Crystal Battery sets new standards</div>
            <div class="sets__list">
                <div class="sets__item">
                    <div class="sets__icon"><img src="../img/sustainability__icon-1.svg" alt=""></div>
                    <div class="sets__name">Performant</div>
                </div>
                <div class="sets__item">
                    <div class="sets__icon"><img src="../img/sustainability__icon-2.svg" alt=""></div>
                    <div class="sets__name">Fast charging</div>
                </div>
                <div class="sets__item">
                    <div class="sets__icon"><img src="../img/sustainability__icon-3.svg" alt=""></div>
                    <div class="sets__name">More capacity</div>
                </div>
                <div class="sets__item">
                    <div class="sets__icon"><img src="../img/sustainability__icon-4.svg" alt=""></div>
                    <div class="sets__name">Highly sustainable</div>
                </div>
                <div class="sets__item">
                    <div class="sets__icon"><img src="../img/sustainability__icon-5.svg" alt=""></div>
                    <div class="sets__name">Cheaper & scalable</div>
                </div>
                <div class="sets__item">
                    <div class="sets__icon"><img src="../img/sustainability__icon-6.svg" alt=""></div>
                    <div class="sets__name">Safe</div>
                </div>
            </div>
        </div>
    </div>
</section>