<section class="sustainability">
    <div class="container">
        <div class="sustainability__column">
            <div class="sustainability__title">Sustainability</div>
            <div class="sustainability__text">
                <p>The base for our battery is sulphur; sulphur is an industrial byproduct and abundant – no new mining is required. The production processes are inspired by nature and designed to be energy friendly.</p>
                <p>We estimate 20x less energy needed compared to today's lithium batteries! We pledge to highest sustainability standards for other components (e.g. local lithium sourcing vs. shipping from Australia).</p>
                <p>The battery is designed for recyclability and thus easy,<br> safe and cheap to recycle. Being sustainable enables us to produce cheaper and thus to sell at lower prices.</p>
            </div>
        </div>
    </div>
</section>